.friends{
    padding: 20px 100px;
    display: flex;
    flex-wrap: wrap;
}
.avatar{
    width: 64px;
}
.oneFriend{
    display: flex;
    align-items: center;
    width: fit-content;
    min-width: 200px;
    background-color: aliceblue;
    margin: 50px;
    border-radius: 10px;
}